*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    color:rgb(214, 214, 214);
}

.title{
    position: relative;
    text-align: center;
    top: 20vh;
    letter-spacing: 3px;
}

.continue{
    position: relative;
    text-align: center;
    top: 30vh;
}
.back{
    height:90vh;
    width:100%;
    background-size:cover;
  } 
.back a{
    text-decoration: none;
}
  .button{
    height:80px;
    width:300px;
    background:rgb(214, 214, 214);
    margin: auto;
    position:relative;
    top:50%;
    color:#0b0c10;
    text-align:center;
    line-height:80px;
    font-size:30px;
    cursor:pointer;
    transition:all .3s ease-in 1.2s;
  }
  
  .button:hover{
    background:transparent;
    color:rgb(214, 214, 214);
    transition:all .3s ease-in;
  }
  
  .bot-bar{
    position:absolute;
    bottom:0px;
    height:2px; 
    width:0%;
    left:0px;
    background:rgb(214, 214, 214);
    transition:all .4s ease .8s;
  }
  
  .top-bar{
    height:2px;
    width:0%;
    position:absolute;
    top:0px;
    right:0px;
    background:rgb(214, 214, 214);
    transition: all .4s ease .2s;
  }
  
  .left-bar{
    height:0%;
    width:2px;
    background:rgb(214, 214, 214);
    position:absolute;
    left:0px;
    top:0px;
    transition:all .2s ease;
  }
  
  .right-bar{
    height:0%;
    width:2px;
    background:rgb(214, 214, 214);
    position:absolute;
    right:0px;
    bottom:0px;
    transition:all .2s ease .6s;
  }
  
  .button:hover .bot-bar{
    width:100%;
    transition: all .4s ease-in-out;
  }
  
  .button:hover .top-bar{
    width:100%;
    transition: all .4s ease-in-out .6s;
  }
  
  .button:hover .right-bar{
    height:100%;
    transition:all .2s ease-in-out .4s;
  }
  
  .button:hover .left-bar{
    height:100%;
    transition:all .2s ease-in-out 1s;
  }

  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #0b0c10 50%, #1f2833 50%);
    bottom: 0;
    top:0;
    left:-50%;
    right:-50%;
    opacity: .5;
    position:fixed;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  @keyframes slide {
    from {
      transform:translateX(-25%);
    }
    to {
      transform:translateX(25%);
    }
  }